*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    margin: 10% 30%;
    cursor: pointer;
    background-color: #d9e2ec;
    border: 5px solid linear-gradient (to right, #81d4fa, pink);
}
.Finput{
    display: flex;
    gap: 2%;
}
.task{
    display: flex;
    gap: 1%;
}
p{
    margin-bottom: 2%;
    margin-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button, .button{
    width: 7em;
    height: 3em;
}
#task{
    width: 20em;
    height: 3em;
    padding-left: 2%;
}
.image{
    height: 4em;
    background-color: #ffff;
}
.image img{
    width: 45px;
}
#main{
    border: 1px solid black;
    border-radius: 10%;
    padding: 3em ;
    width: 35em;
    background-color: #288BA8;
}
img{
max-width: 100;
display: block;
}