*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(244, 246, 242);
    cursor: pointer;
}
.container{
    margin-top: 30px;
    width: 60%;
}
.container h2 {
    color: white;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    background-color: #020202;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  .input-group {
    display: flex;
    width: 100%;
  }
  .input-group input {
    border: none;
    background-color:  #bbbebe;
    font-size: 18px;
    color: rgb(17, 17, 17);
    padding: 10px;
    width: 90%;
    outline: none;
    border: none;
    border-radius: 0px 0px 0px 0px;
  }
  .input-group button {
    border: none;
    color: rgb(169, 167, 167);
    background-color: rgb(39, 39, 38);
    font-size: 25px;
    font-weight: 600;
    height: 43px;
    width: 10%;
    outline: none;
    border: none;
    border-radius: 0px 0px 5px 0px;
  }
  .todo-item-container{
    display: flex;
    gap: 1%;
    margin-top: 5%;
  }
  .todo-item-container button{
    padding: 5px 6px;
    background-color: rgb(101, 110, 110);
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  button:hover{
    background-color: rgb(26, 13, 3);
  }
  #todo-text {
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
  }
  .line-through{
    text-decoration: line-through;
    color: brown;
  }

ul{
width: 35%;
margin: 28px auto;
list-style-type:circle;
float: left;
}
ul li{
  margin-bottom: 10px;
  margin-left: 25px;
  padding: 10px;
}
ul li:nth-child(even){
  background-color: rgb(169, 167, 167);
}
ul li a{
  float: right;
  color: rgb(26, 13, 3);
  margin: 5px;
}
/*media query*/
@media (max-width:800px) {
    .input-box{
       width: 85%;
    }
    .todos-container{
      width: 85%;
    }
}
