*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    margin-top: 10%;
    margin-left: 40%;
    cursor: pointer;
    background-color: #d9e2ec;
    border: 5px solid linear-gradient (to right, #81d4fa, pink);
}
.heading{
    margin-bottom: 1%;
}
.heading h1{
    margin-bottom: 4%;
    padding-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color:#fe4e4e;
    letter-spacing: 1px;
    font-weight: lighter;
}
.heading form input{
    background-color: #ed7b7b;
    border: 1px solid #ed7b7b;
    width: 25%;
    height: 40px;
}
::placeholder{
    color: #1a0b01;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px;
}
.heading button{
    background-color: #ed7b7b;
    border: 1px solid #ed7b7b;
    width: 10%;
    height: 40px;
}
.title{
    margin-left: 10%;
    margin-bottom: 2%;
    color: #1a0b01;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    margin-bottom: 1%;
    position: relative;
    right: 3%;
}
.main input{
    background-color: #ed7b7b;
    border: 1px solid #ed7b7b;
    padding-left: 1%;
    width: 25%;
    height: 40px;
}
.main .button {
    background-color: #ed7b7b;
    border: 1px solid #ed7b7b;
    width: 10%;
    height: 40px;
}
span p {
    color: #1a0b01;
    font-family:cursive;
    position: relative;
    right: 3px;
}
/*Media Queries*/
